.container-pro {
    background-color:rgba(243, 164, 168, 0.418)
}

.input-pro {
    background-color:rgba(243, 164, 168, 0.671);
    border-color: rgb(103, 32, 68);
}

.light-bg-pro {
    background-color: rgb(249,203,165);
}